/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(40, 40, 40);
}

input,
button,
select,
textarea {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-message {
  font-size: 3em;
  text-align: center;
  margin-top: 2.5em;
}

.form-container {
  margin: auto;
  text-align: center;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 2em;
}

form input {
  font-size: 1.5em;
  padding: 5px;
  outline: 0;
  border-color: rgb(40, 40, 40);
  border-radius: 10px;
  color: rgb(40, 40, 40);
  text-align: center;
}

form textarea {
  width: 310px;
  height: 300px;
  font-size: 1.5em;
  padding: 5px;
  outline: 0;
  border-color: rgb(40, 40, 40);
  border-radius: 10px;
  color: rgb(40, 40, 40);
  text-align: center;
}

form button {
  border: none;
  border-radius: 10px;
  font-size: 1.5em;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(40, 40, 40);
}

form button:hover {
  background-color: rgb(100, 100, 100);
}

form button:active {
  background-color: rgb(150, 150, 150);
}

.validation-message {
  font-size: 1.25em;
  font-style: italic;
}

input[type='checkbox'] {
  accent-color: rgb(40, 40, 40);
  transform: scale(1.5);
}
