/* You can add global styles to this file, and also import other style files */

:root {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(255, 255, 255);
  color: rgb(40, 40, 40);
}

body {
  margin: 0;
}

.main-message {
  font-size: 3em;
  text-align: center;
  margin-top: 2.5em;
}
