.form-container {
    margin: auto;
    text-align: center;
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 2em;
}

form input {
    font-size: 1.5em;
    padding: 5px;
    outline: 0;
    border-color: rgb(40, 40, 40);
    border-radius: 10px;
    color: rgb(40, 40, 40);
    text-align: center;
}

form button {
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(40, 40, 40);
}

form button:hover {
    background-color: rgb(100, 100, 100);
}

form button:active {
    background-color: rgb(150, 150, 150);
}

.validation-message {
    font-size: 1.25em;
    font-style: italic;
}

