.task-container {
    width: 50%;
    margin: auto;
    margin-top: 2em;
}

p {
    word-break: break-word; 
    overflow-wrap: break-word; 
    font-size: 1.5em;
}

strong {
    margin-right: 20px;
}
