<div class="header">
  <div class="header-back">
    @if (backUrl) {
    <button [routerLink]="backUrl" class="navigation-button">Back</button>
    }
  </div>

  <div class="header-name">
    <p>ISU Tasks</p>
  </div>

  <div class="header-auth">
    @if (authorized === false) {
    <button routerLink="/register" class="navigation-button">Register</button>
    <button routerLink="/login" class="navigation-button">Login</button>
    } @if (authorized === true) {
    <button (click)="logout()" class="navigation-button">Logout</button>
    }
  </div>
</div>
